.wraper-404{
    height:100%;
    min-height:64.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(177, 185, 185);
    font-size: 50px;
    font-weight: 500;
}
